# Importing Standard Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Importing Cleaned data from Cleaner_1

In [2]:
x_train = pd.read_csv('../CleanedData/Cleaner1_X_train', index_col = 0)

In [3]:
x_train.head()

,PassengerId,Sex,Pclass_2,Pclass_3,Embarked_1,Embarked_2,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_9
0,1,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,3,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
4,5,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
y_train = pd.read_csv('../CleanedData/Cleaner1_Y_train', index_col = 0)

In [5]:
y_train.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [6]:
x_test = pd.read_csv('../CleanedData/Cleaner1_X_test', index_col = 0)

In [7]:
x_test.head()

,PassengerId,Sex,Pclass_2,Pclass_3,Embarked_1,Embarked_2,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_9
0,892,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,893,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,894,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,895,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,896,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0

# Importing Logistic Regression Algorithm

In [8]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

# Training Model

In [9]:
lr.fit(x_train.drop(['PassengerId'],axis = 1), y_train['Survived'])

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

We train the whole training data as there is no other variation we are gonna use for Logistic Regression in this model

# Prediction

In [10]:
y_test = lr.predict(x_test.drop(['PassengerId'],axis = 1))

# Exporting the prediction

In [11]:
predictions = x_test[['PassengerId']]

In [12]:
predictions['Survived'] = y_test

/home/rsd/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
predictions.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [14]:
predictions.to_csv('../Predictions/Logistic_Regression_1', index = False)

# Accuracy on Kaggle : 0.7799