# Importing Standard Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Importing Cleaned data from Cleaner_1

In [2]:
x_train = pd.read_csv('../CleanedData/Cleaner1_X_train', index_col = 0)

In [3]:
x_train.head()

,PassengerId,Sex,Pclass_2,Pclass_3,Embarked_1,Embarked_2,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_9
0,1,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,3,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
4,5,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
y_train = pd.read_csv('../CleanedData/Cleaner1_Y_train', index_col = 0)

In [5]:
y_train.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [6]:
x_test = pd.read_csv('../CleanedData/Cleaner1_X_test', index_col = 0)

In [7]:
x_test.head()

,PassengerId,Sex,Pclass_2,Pclass_3,Embarked_1,Embarked_2,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Parch_9
0,892,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,893,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,894,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,895,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,896,0,0,1,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0

# Train Test Split

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
xtr, xte, ytr, yte = train_test_split(x_train.drop(['PassengerId'],axis = 1),y_train['Survived'],test_size = 0.25,random_state = 511)

# Importing XGBoost

In [12]:
import xgboost as xgb

In [13]:
train = xgb.DMatrix(xtr, label = ytr)
test = xgb.DMatrix(xte, label = yte)

In [53]:
model = xgb.train({ 'eta' : 0.3, 'objective' : 'multi:softmax', 'num_class' : 3 }, train, 50)

# Testing

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
predictions = model.predict(test)

In [56]:
accuracy_score(yte, predictions)

0.7847533632286996

# Applying XGBoost

In [68]:
train = xgb.DMatrix(x_train.drop(['PassengerId'],axis = 1),y_train['Survived'])
test = xgb.DMatrix(x_test.drop(['PassengerId'],axis = 1))
model = xgb.train({ 'eta' : 0.3, 'objective' : 'multi:softmax', 'num_class' : 3 }, train, 50)

# Prediction

In [69]:
pred = model.predict(test)

# Exporting the predictions

In [70]:
predictions = x_test[['PassengerId']]

In [73]:
predictions['Survived'] = list(map(int,pred))

/home/rsd/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
predictions.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [75]:
predictions.to_csv('../Predictions/XGBoost_1', index = False)

# Accuracy on Kaggle : 0.76076